* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ebebeb;
    overflow: hidden;
}

input[type="text"] {
    padding: 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f7f7f7;
}

input[type="submit"], input[type="button"] {
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: filter 0.1s;
}

input[type="submit"]:hover, input[type="button"]:hover {
    filter: brightness(1.05);
}

input[type="submit"]:active, input[type="button"]:active {
    filter: brightness(0.9);
}

.bg-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: lightgreen;
}

.bg-red {
    background-color: lightcoral;
}

.bg-white {
    background-color: #fff;
}

.menu {
    display: flex;
    flex-flow: column;
    gap: 8px;
    width: 400px;

    height: 100vh;

    background-color: #fff;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.menu > h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 200;
}

.menu > span {
    font-size: 16px;
    text-align: center;
}

.labels_preview {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;

    background-color: #fff;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#labels_preview {
    display: flex;
    flex-flow: column;
    gap: 4px;
}

.scroll {
    max-height: calc(100% - 64px);
    overflow-y: scroll;
}

.label_preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px;
    border-radius: 4px;
}

.label_preview > .col {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.label_preview > .title {
    text-align: center;
    width: 100%;
}

.label_preview > .col > .title {
    font-size: 14px;
    font-weight: 600;
}

.label_preview > .col > .value {
    font-size: 14px;
    font-weight: 200;
}

.checkbox {
    display: flex;
    gap: 8px;
}